[Unit]
Description=Supporting service for HUD search

[Service]
Type=simple
TimeoutStartSec=0

# the %h is substituted with the user's home directory
ExecStart=%h/.local/bin/hud-menu-service.py

[Install]
WantedBy=default.target
