[Unit]
Description=Distributed filesystem for the web

[Service]
Type=simple
TimeoutStartSec=0

# the %h is substituted with the user's home directory
ExecStart=/snap/bin/ipfs daemon --migrate

[Install]
WantedBy=default.target
