[Unit]
Description=Makes the logo button work properly in KDE plasma

[Service]
Type=forking
TimeoutStartSec=0

# the %h is substituted with the user's home directory
ExecStart=/snap/bin/ksuperkey

[Install]
WantedBy=default.target
