[Unit]
Description=Intercepts libinput touchpad gestures

[Service]
Type=simple
TimeoutStartSec=0

# the %h is substituted with the user's home directory
ExecStart=touchegg --daemon

[Install]
WantedBy=graphical.target
