[Unit]
Description=Service for handling touchpad gestures

[Service]
Type=simple
TimeoutStartSec=0

# the %h is substituted with the user's home directory
ExecStart=%h/.local/bin/gebaard

[Install]
WantedBy=default.target
